<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pizza.css">
    <link rel="stylesheet" href="/css/all.css">
</head>

<body>
    <main>
        <h1>
            <a href="/pizzas/<%= pizza.id - 1 %>"><i class="fas fa-angle-double-left"></i></a>
            <%= pizza.nome %>
            <a href="/pizzas/<%= pizza.id + 1 %>"><i class="fas fa-angle-double-right"></i></a>
        </h1>
        <article>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
            <button>
                + Add <br>
                <%= pizza.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %>
            </button>
        </article>
        <div class="detalhes">
            Ingredientes: <%= pizza.ingredientes.join(', ') %>
        </div>
    </main>
</body>

</html>