<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>
<body>
    <%= JSON.stringify(pizza) %>

    <h1><%= pizza.nome %></h1>
    <img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
    <ul>
        <% for (let ingrediente of pizza.ingredientes) { %>
            <li><%= ingrediente %></li>
        <% } %>
    </ul>
    <h2><%= pizza.preco %></h2>
</body>
</html>